* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  $color1-claro: #65B2FA; //fondo
  $color2-claro: #ffffff; //colores basicos
  $color3-claro: #578CF5; // menu y algunos titulos y footer
  $color4-claro: #A9D3F5; //cajas
  $color5-claro: #000; //colores basicos

  $colores-claros: (
    #65B2FA,
    #ffffff,
    #578CF5,
    #A9D3F5,
    #000000,
);
$colores-oscuros: (
    #0354a0,
    #ffffff,
    #0342be,
    #3c90d4,
    #000000,
);

$debug:false;

//nos sirve para poder en el JS(por el evento) cambiar las clases y asi conseguir los diferentes temas(ligth/dark)
:root {
    .tema-claro{
        --color-1:  #{nth($colores-claros,1)}; //declaramos los colores
        --color-2:  #{nth($colores-claros,2)};
        --color-3:  #{nth($colores-claros,3)};
        --color-4:  #{nth($colores-claros,4)};
        --color-5:  #{nth($colores-claros,5)};

    }
    .tema-oscuro{
        --color-1:  #{nth($colores-oscuros,1)};
        --color-2:  #{nth($colores-oscuros,2)};
        --color-3:  #{nth($colores-oscuros,3)};
        --color-4:  #{nth($colores-oscuros,4)};
        --color-5:  #{nth($colores-oscuros,5)};
    }
}

//esto nos sirve para poder importar los scss al main(que este es el que vamos a compilar)
@import './Partial/menu';
@import './Partial/body';
@import './Partial/footer';
