// sass --watch scss/estilos.scss css/main.css

$color-1-claro: #D8B4F8;
$color-2-claro: #CAEDFF;
$color-3-claro: #803cc5;
$color-4-claro: white;
$color-5-claro: #FFC7EA;

$colores-oscuros : ( // rgb(110, 46, 145),
  #6f2b9e,
  #405a74,
  #e4dafa,
  #8c64a7,
  #f5caea,
);

$tamanios-iconos-horizontal : (
  'muyPequenio':10%,
  'pequenio':40%,
  'normal':50%,
  'medio':75%,
  'grande':100%,
);

$tamanios-iconos-vertical : (
  'muyPequenio':10%,
  'pequenio':40%,
  'normal':50%,
  'medio':75%,
  'grande':100%,
);
//Variable para aplicar sombreado 
$sombreado: 3px 10px 57px lightgray;
/*MODO DEBUG*/
//VER EL IF EN EL PARTIAL PRINCIPAL (_contenido.scss)
$debug: false;

:root {
  .tema-claro {
    --color-1: #{$color-1-claro};
    --color-2: #{$color-2-claro};
    --color-3: #{$color-3-claro};
    --color-4: #{$color-4-claro};
    --color-5: #{$color-5-claro};
  }

  .tema-oscuro {
    --color-1: #{nth($colores-oscuros,1)};
    --color-2: #{nth($colores-oscuros,2)};
    --color-3: #{nth($colores-oscuros,3)};
    --color-4: #{nth($colores-oscuros,4)};
    --color-5: #{nth($colores-oscuros,5)};
  }

  .con-sombra {
    --sombreado:#{$sombreado};
  }

  .sin-sombra {
    --sombreado:#{none};
  }
}

@import "partials/_boton.scss";
@import "partials/_menu.scss";
@import "partials/_contenido.scss";
@import "partials/_footer.scss";
@import "partials/_botoncv.scss";
@import "partials/_circuloprogreso.scss";



html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'glamorous';
  src: url("../letra/glamorous.otf");
}



// $fuentes:(
//     encabezado: 'Arial,sans-serif',
//     párrafo:'Helvetica Neue,serif',
//     enlace:'Times New Roman,serif'
// );
// @each $nombre,$fuente in $fuentes{
//     .#{$nombre}{
//         font-family: $fuente;
//     }
// }