@font-face {
    font-family: 'glamorous';
    src: url("../letra/glamorous.otf");
}
@font-face {
    font-family: 'robotoR';
    src: url("../letra/Roboto-Light.ttf");
}
//FUNCION
@function anchura-col($total,$col) {
    @return percentage($total/$col);
   }
//USO DE MIXIN'S
@mixin titulo($color) {
    color: $color;
    font-family: 'glamorous';
    font-weight: bold;
}

@mixin circulo($ancho, $altura, $radius: 0) {
    width: $ancho;
    height: $altura;

    @if $radius !=0 {
        border-radius: $radius;
    }
}

@mixin cajaFloat($ancho, $marginIzq: 0, $marginDer: 0, $altura: 0) {
    float: left;
    width: $ancho;

    @if $altura !=0 {
        height: $altura;
    }

    @if $marginIzq !=0 {
        margin-left: $marginIzq;
    }

    @if $marginDer !=0 {
        margin-right: $marginDer;
    }
}

@mixin parrafo($ancho, $paddingLeft) {
    padding-left: $paddingLeft ;
    width: $ancho;
    font-size: 17px;
    margin-bottom: 1%;
}

//MODO DEBUG
.enConstruccion img {
    width: 60%;
    margin-left: 20%;

    @if $debug==false {
        display: none;
        ;
    }

    @else {
        display: inline;

    }
}

/*--------------------CONTENIDO-----------------------------*/
#idContenido {
    background-color: var(--color-4);
    position: relative;
    height: 1450px;
    padding-top: 2%;
    font-family: 'robotoR';

    /*-------------------CAJA IZQUIERDA-----------------*/
    #cajaIzquierda {
        @include cajaFloat(20%, 5%, 5%, 100%);

        /*-----------IMAGEN CIRCULO-----------------*/
        img {
            @include circulo(map-get($tamanios-iconos-horizontal , 'normal'), 17%, 90%);
            position: relative;
            top: 1%;
            left: 25%;
            z-index: 2;
            border: 2px solid var(--color-3);
        }

        /*------------CAJA DATOS IZQUIERDA----------*/
        #contenedorLateral {
            position: relative;
            top: -8%;
            padding-top: 30%;
            padding-left: 15%;
            padding-right: 15%;
            background-color: var(--color-1);
            border: 1px solid black;
            box-shadow: var(--sombreado);
            width:anchura-col(0.95,1);
            font-size: 20px;

            /*-------BLOQUES----------*/
            div {
                margin-top: 5%;
                margin-bottom: 5%;

                h7 {
                    @include titulo(black);
                }
            }

            //BLOQUE DE TITULO
            #idTituloPrincipal {
                text-align: center;

                h1 {
                    @include titulo(var(--color-3));
                    text-shadow: 0px 2px 3px gray;
                    margin-bottom: 5px;
                }
            }

            //BLOQUE DATOS PERSONALES
            #idDatos {

                //CREACION 2 CAJAS DE 50%
                div {
                    @include cajaFloat(50%, 0, 0, 0);
                }

                //2º CAJA
                div+div {
                    padding-left: 30px;

                }
            }

            //BLOQUE DE LENGUAJES
            #idLenguajes {

                //CREACION 2 CAJAS DE 50%
                div {
                    @include cajaFloat(50%, 0, 0, 0);
                }

                //2º CAJA
                div+div {
                    padding-left: 30px;

                    //CREACION DE BARRA PROGRESO CON MAP Y EACH
                    .barra-progreso {
                        height: 10px;
                        width: 100px;
                        margin-top: 7%;
                        padding-left: 0%;
                        background-color: var(--color-4);
                        border-radius: 80px;
                        $porcentaje: (
                            100: 100%,
                            90: 90%,
                            80: 80%,
                            70: 70%,
                            60: 60%,
                            50: 50%,
                            40: 40%,
                            30: 30%,
                            20:20%,
                            10:10%
                        );

                    @each $clave, $valor in $porcentaje {
                        .nivel-#{$clave} {
                            width: $valor;
                            height: 10px;
                            margin-top: 0%;
                            background-color: var(--color-3);
                            border-radius: 80px;
                        }
                    }
                }
            }
        }

        //BLOQUE DE SKILLS
        #idSkills {
            @include cajaFloat(100%, 0, 0, 0);
        }

        //BOTON DESCARGAR CV
        .button {
            background-color: var(--color-3);
            width: 60%;
            height: 50px;
            margin: 0 0 20% 20%; //top right bottom left

            a {
                color: var(--color-4);
                text-decoration: none;
            }
        }

    }
}

/*-----------------CAJAS DERECHAS---------------*/
.cajaDerecha {
    @include cajaFloat(60%, 5%, 5%);
    font-size: 20px;

    h3 {
        @include titulo(var(--color-3));
        margin-bottom: 1%;
    }

    #idSobremi {
        @include parrafo(80%, 5%)
    }

    .cajaPeriodistica {
        @include parrafo(80%, 5%);
        columns: 2;
        column-width:anchura-col(0.80,2);//40%
        column-rule: 3px solid var(--color-5);
        column-gap: 20%;

        ul {
            list-style: square;
            list-style-position: inside;

            li::marker {
                color: var(--color-3);
            }
        }
    }

    //CAJAS DE SERVICIOS
    .cajaServ {
        @include cajaFloat(38%, 2%, 0, 60%);
        background-color: var(--color-1);
        padding: 3% 0% 3% 8%; //top right bottom left
        margin-bottom: 2%;
        box-shadow: var(--sombreado);
        border: 1px solid black;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        img {
            display: inline-block;
            width: 20%;
            vertical-align: middle;
        }

        p {
            display: inline-block;
            width: 70%;
            color: var(--color-3);
            font-weight: 600;
            padding-left: 5%;
        }
    }

    .cajaServ:hover {
        border: 2px solid purple;
        transform: scale(1.05);
    }

    //USO DEL EACH ICONOS HOBBIES
    .hobbies {
        $hobbies: leer bailar viajar musica;

        @each $hobbie in $hobbies {
            .icono-#{$hobbie} {
                background-image: url("../iconos/#{$hobbie}.png");
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: center center;

                @include circulo(15%, 160px, 90%);
                display: inline-block;
                margin-right: 3%;
                margin-left: 3%;
                padding: 15px;
                background-color: var(--color-5);
            }
        }

    }

}
}