@font-face {
    font-family: 'glamorous';
    src: url("../letra/glamorous.otf");
  }
  
//header id=menu
#menu {
    background-color: var(--color-1);
    width: 100%;
    height: 130px;
    position: sticky;
    top: 0%;
    z-index: 3;
    text-align: center;
    padding-top: 45px;
    //imagen del logo
    img {
        display: inline-block;
        width: map-get($tamanios-iconos-horizontal , 'muyPequenio');
    }
    //elementos del menu en nav
    nav {
        display: inline-block;
        width: 70%;
        a {
            display: inline-block;
            width: 20%;
            text-decoration: none;
            font-style: italic;
            font-size:25px;
            color: var(--color-3);
            font-family: 'glamorous';
        }
        a:hover{
            color:var(--color-4);
            font-weight:bolder;
            text-shadow: 2px 2px var(--color-3);
        }
    }
}



