.footer {
    background-color: var(--color-4);
    width: 99.15%;
    position: fixed;
    bottom: 0%;
    margin-right: 0%;
    margin-top: 5%;
    height: 150px;
    // aqui va la anidacion

    .misredessociales{
        text-align: center;
        color: var(--color-1);
    }
    a {
        margin-left: 12%;
    }
    // img{
    //     width: map-get($tamanios-iconos-horizontal, "grande" );
    //     height: map-get($tamanios-iconos-vertical, "grande" );
    // }
}

$redes: correo github linkedin facebook whatsapp telefono;

@each $r in $redes {
    .img-#{$r}{
        width: map-get($tamanios-iconos-horizontal, "medio" );
        height: map-get($tamanios-iconos-vertical, "medio" );
    }
}





