ul{
    background-color: var(--color-5);
    width: 100%;
    
}

li{
    text-align: center;
    margin-left: 2%;
    /*function*/
    width: anchura(1.4,10);
    display: inline-block;
}


footer{
    width: 100%;
    position: relative;
    
} 

/*Estructuras - EACH*/
$redes-sociales: facebook twitter linkedin telefono gmail x instagram github;
 
    @each $red in $redes-sociales {
        .contacto-#{$red} { 
            width: map-get($tamanios-iconos-horizontal , 'medio');
        }
    }

 