/*////////////////////////////////////////////////////*/
.slider-container {
    overflow: hidden;
    width: 80%;
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.nav-buttons {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

#id_btn{
    text-align: center;
}

.prev,
.next {
    margin: 10px;
    z-index: 1;
}


.slide > img {
    width: map-get($tamanios-iconos-horizontal, 'medio' )
}

/*////////////////////////////////////////////////////*/

$separacion: 10px;

.c_desplegable {
    width: 80%;
    margin-top: 3%; 
    background-color: var(--color-4);
}



.tarjeta {
    border: 1px solid #ccc;
    box-shadow: 10px 5px 5px black;
    margin-bottom: #{$separacion};
}

.cabecera {
    // text-align: center;
    background-color: #f2f2f2;
    padding: $separacion;
    cursor: pointer;
}

.contenido {
    display: none;
    padding: $separacion;

    /*Anidacion*/
    p{
        color: var(--color-letra);
    }
}

#contenido_3{
    text-align: center;
    column-count: 4;
}

/*mapa*/
.contenido > div > img{
    width: map-get($tamanios-iconos-horizontal , 'medio');
}



/*////////////INTERPOLACION////////////////////////////////////////*/
$c: #ccc;
$selector: body;

#{$selector}{
    background-color: $c;
    margin-left: 10%;
    margin-right: 10%;
}

main{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    height: auto;
    
}

section{
    margin-left: 10%;
    width: 80%;
}



/*////////////MIXIN////////////////////////////////////////*/
@mixin bordes($estilo, $color){
    border: 3px $estilo $color;
    text-align: center;
}
  
article{
    background-color: var(--color-2);
    text-align: center;
    height: auto;
    
    @include bordes(solid, #000 );

    /*Anidacion*/
    p{
        color: var(--color-letra);
    }
}


