.menu {
    display: inline-block;
  }
  
  header {
    background-color: #ccc;
    width: 100%;
    height: 100 px;
    top: 0px;
    position: sticky;
    z-index: 10;
    text-align: center;
    display: inline-block;
  }
  
  h1 {
    background-color: var(--color-1);
    color: var(--color-letra);
    border-radius: 100px;
    /* top: 5%; */
    width: 30%;
    height: auto;
    text-align: center;
    position: relative;
  }
  
  /*mapa*/
  .c_foto{
    width: map-get($tamanios-iconos-horizontal , 'pequenio' );
    margin: 3%;
  }

  
.p_obras{
  text-align: center;

  /*Funtion IF - DEBUG*/
  img {
    width: 50%;
    @if $debug == false {
      display: none;
    }@else{
      display: inline;

    }
  } 
}