//Establecemos colores claros
$color-1-claro: #ffffff;
$color-2-claro: #7D8991;
$color-3-claro: #BED0DE;
$color-4-claro: #5A6269;
$color-5-claro: #373C40;

//Establecemos colores oscuros
$colores-oscuros : (
  #000000,
  #5C8374,
  #93B1A6,
  #040D12,
  #183D3D
  
);

//Cambio de gama de colores
:root{
    .tema-claro{
        --color-1: #{$color-1-claro};
        --color-2: #{$color-2-claro};
        --color-3: #{$color-3-claro};
        --color-4: #{$color-4-claro};
        --color-5: #{$color-5-claro};

    }
    .tema-oscuro{
        --color-1: #{nth($colores-oscuros,1)};
        --color-2: #{nth($colores-oscuros,2)};
        --color-3: #{nth($colores-oscuros,3)};
        --color-4: #{nth($colores-oscuros,4)};
        --color-5: #{nth($colores-oscuros,5)};

    }
};