@charset "UTF-8";
/*
Web personal de Victor Rey Sanz
*/
:root .tema-claro {
  --color-1: #CDFFBB;
  --color-2: #00FFD1;
  --color-3: #A2FC82;
  --color-4: rgba(0, 255, 209, 0.4);
  --color-5: black;
}

.tema-oscuro {
  --color-1: #352F44;
  --color-2: #5C5470;
  --color-3: #008170;
  --color-4: rgba(185, 180, 199, 0.4);
  --color-5: #fff;
}

.paginaEnCurso {
  display: none;
  position: relative;
  left: 25%;
  width: 50vw;
  height: 50vw;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--color-1);
  margin: 0;
}

/* Header */
header {
  position: sticky;
  top: 0;
  background-color: var(--color-2);
  z-index: 1;
  text-align: center;
  padding: 15px;
}
header #idInicio {
  color: var(--color-5);
  font-family: Arial;
  display: inline-block;
  width: 40%;
  text-align: left;
}
header #idSobreMi {
  color: var(--color-5);
  font-family: Arial;
  display: inline-block;
  width: 50%;
  text-align: right;
}

.switch-5 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}
.switch-5 .slider-5 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 25px;
  background-color: var(--color-1);
  border: 1px solid black;
}
.switch-5 .slider-5:before {
  font-family: "Font Awesome 5 Free";
  content: "🔆";
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 20px;
  transition: 0.3s ease all;
}
input:checked + .switch-5 .slider-5:before {
  transform: translate(20px) rotate(360deg);
  content: "🌙";
}
input:checked + .switch-5 .slider-5 {
  background-color: #4e4e4e;
  left: 0px;
}

/* main */
/* Inicio */
#idInicio-container {
  position: relative;
  top: 10%;
  height: 500px;
  width: 100%;
}

#idNombre {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 35%;
  left: 25%;
  font-size: 50px;
}

#idImg {
  position: absolute;
  top: 15%;
  left: 65%;
  height: 350px;
  width: 350px;
}

#idSombraImg {
  position: absolute;
  top: 12%;
  left: 64%;
  height: 350px;
  width: 350px;
  background-color: var(--color-4);
}

#idLinea {
  position: relative;
  top: 0%;
  left: 12%;
  width: 75%;
  height: 7px;
  background-color: var(--color-2);
}

/* Sobre mi */
#idSobreMi-container {
  position: relative;
  height: 1500px;
  width: 100%;
  text-align: center;
}

#idSobreMiTexto {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 5%;
  left: 43%;
  font-size: 40px;
}

#idDescripcion {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 15%;
  left: 39%;
}

/* Datos personales */
#idDatosPersonales-container {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 30%;
  left: 37%;
  height: 20%;
  width: 25%;
  text-align: center;
}

/* Nacimiento */
#idNacimiento {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 2%;
  left: 5%;
}

#idLineaNacimiento {
  position: relative;
  top: 14%;
  left: 50%;
  width: 5%;
  height: 3px;
  background-color: var(--color-5);
}

#idNacimientoTexto {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 2%;
  right: 5%;
}

/* Residencia */
#idResidencia {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 40%;
  left: 5%;
}

#idLineaResidencia {
  position: relative;
  top: 51%;
  left: 50%;
  width: 5%;
  height: 3px;
  background-color: var(--color-5);
}

#idResidenciaTexto {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 40%;
  right: 5%;
}

/* Procedencia */
#idProcedencia {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  bottom: 2%;
  left: 5%;
}

#idLineaProcedencia {
  position: relative;
  top: 82%;
  left: 50%;
  width: 5%;
  height: 3px;
  background-color: var(--color-5);
}

#idProcedenciaTexto {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  bottom: 2%;
  right: 5%;
}

/* Formacion */
#idFormacion-container {
  position: absolute;
  background-color: var(--color-2);
  top: 60%;
  left: 37%;
  height: 15%;
  width: 25%;
  text-align: center;
}

#idSombraFormacion {
  position: absolute;
  top: 59%;
  left: 36%;
  height: 15%;
  width: 25%;
  background-color: var(--color-4);
}

#idFormacionTexto {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 0%;
  left: 4%;
}

#idScroll {
  position: absolute;
  top: 25%;
  left: 0%;
  width: 100%;
  height: 75%;
  overflow: auto;
}

#idContenedorF {
  color: var(--color-5);
  font-family: Arial;
  background-color: var(--color-3);
  position: relative;
  left: 10%;
  height: 40%;
  width: 80%;
  text-align: center;
}

/* Aficiones */
#idAficiones-container {
  position: absolute;
  background-color: var(--color-2);
  top: 80%;
  left: 37%;
  height: 15%;
  width: 25%;
  text-align: center;
}

#idSombraAficiones {
  position: absolute;
  top: 79%;
  left: 36%;
  height: 15%;
  width: 25%;
  background-color: var(--color-4);
}

#idAficionesTexto {
  color: var(--color-5);
  font-family: Arial;
  position: absolute;
  top: 0%;
  left: 4%;
}

#idContenedorA {
  color: var(--color-5);
  font-family: Arial;
  background-color: var(--color-3);
  position: relative;
  left: 10%;
  height: 40%;
  width: 55%;
  text-align: center;
  padding-top: 3%;
}

.imgAficiones {
  position: relative;
  left: 75%;
  top: -85%;
  height: 100%;
  width: 40%;
}

/* Footer */
footer {
  position: sticky;
  bottom: 0;
  background-color: var(--color-2);
  text-align: center;
}

/* Redes sociales */
.redesSociales {
  height: 32px;
  width: 32px;
}

#idGitHub {
  display: inline-block;
  width: 5%;
  text-align: center;
}

#idLinkedin {
  display: inline-block;
  width: 5%;
  text-align: center;
}

#idGmail {
  display: inline-block;
  width: 5%;
  text-align: center;
}

#idContacto {
  display: inline-block;
  width: 5%;
  text-align: center;
}

#idInstagram {
  display: inline-block;
  width: 5%;
  text-align: center;
}

#idX {
  display: inline-block;
  width: 5%;
  text-align: center;
}

#idFacebook {
  display: inline-block;
  width: 5%;
  text-align: center;
}

/* Ventanas */
.ventana {
  color: var(--color-5);
  font-family: Arial;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: var(--color-4);
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
