/* Inicio */
#idInicio-container {
    position: relative;
    top:10%;

    height: 500px;
    width: 100%; 
}

#idNombre {
    @include estiloLetra;
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 50px;
}
#idImg {    
    position: absolute;
    top: 15%;
    left: 65%;

    height: map-get($tamanio-vertical, foto);
    width: map-get($tamanio-horizontal, foto);
}

#idSombraImg {    
    position: absolute;
    top: 12%;
    left: 64%;

    height: map-get($tamanio-vertical, foto);
    width: map-get($tamanio-horizontal, foto);
    background-color: var(--color-4);
}

#idLinea {
    position: relative;
    top: 0%;
    left: 12%;

    width: 75%;
    height: 7px;
    background-color: var(--color-2);  
}

/* Sobre mi */
#idSobreMi-container {
    position: relative;

    height: 1500px;
    width: 100%; 
    text-align: center;
}

#idSobreMiTexto {
    @include estiloLetra;
    position: absolute;
    top: 5%;
    left: 43%;
    font-size: 40px;
}

#idDescripcion {
    @include estiloLetra;
    position: absolute;
    top: 15%;
    left: 39%;
}
/* Datos personales */
#idDatosPersonales-container {
    @include estiloLetra;
    position: absolute;

    top: 30%;
    left: 37%;

    height:20%;
    width: 25%; 
    text-align: center;
}

/* Nacimiento */
#idNacimiento {
    @include estiloLetra;
    position: absolute;
    top: 2%;
    left: 5%;
}

#idLineaNacimiento {
    position: relative;
    top: 14%;
    left: 50%;

    width: 5%;
    height: 3px;
    background-color: var(--color-5);  
}

#idNacimientoTexto {
    @include estiloLetra;
    position: absolute;
    top: 2%;
    right: 5%;
}

/* Residencia */
#idResidencia {
    @include estiloLetra;
    position: absolute;
    top: 40%;
    left: 5%;
}

#idLineaResidencia {
    position: relative;
    top: 51%;
    left: 50%;

    width: 5%;
    height: 3px;
    background-color: var(--color-5);  
}

#idResidenciaTexto {
    @include estiloLetra;
    position: absolute;
    top: 40%;
    right: 5%;
}

/* Procedencia */
#idProcedencia {
    @include estiloLetra;
    position: absolute;
    bottom: 2%;
    left: 5%;
}

#idLineaProcedencia {
    position: relative;
    top: 82%;
    left: 50%;

    width: 5%;
    height: 3px;
    background-color: var(--color-5);  
}

#idProcedenciaTexto {
    @include estiloLetra;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

/* Formacion */
#idFormacion-container {
    position: absolute;
    background-color: var(--color-2);

    top: 60%;
    left: 37%;

    height: map-get($tamanio-vertical, datosGeneral);
    width: map-get($tamanio-horizontal, datosGeneral);
    text-align: center;
}

#idSombraFormacion {    
    position: absolute;
    top: 59%;
    left: 36%;

    height: map-get($tamanio-vertical, datosGeneral);
    width: map-get($tamanio-horizontal, datosGeneral);
    background-color: var(--color-4);
}

#idFormacionTexto {
    @include estiloLetra;
    position: absolute;
    top: 0%;
    left: 4%;
}

#idScroll {
    position: absolute;
    top: 25%;
    left: 0%;

    width : 100%;
    height : 75%;
    overflow : auto;
}

#idContenedorF {
    @include estiloLetra;
    background-color: var(--color-3);

    position: relative;
    left: 10%;
    height: map-get($tamanio-vertical, datosFormacion);
    width: map-get($tamanio-horizontal, datosFormacion);
    text-align: center;
}

/* Aficiones */
#idAficiones-container {
    position: absolute;
    background-color: var(--color-2);

    top: 80%;
    left: 37%;

    height: map-get($tamanio-vertical, datosGeneral);
    width: map-get($tamanio-horizontal, datosGeneral);
    text-align: center;
}

#idSombraAficiones {    
    position: absolute;
    top: 79%;
    left: 36%;

    height: map-get($tamanio-vertical, datosGeneral);
    width: map-get($tamanio-horizontal, datosGeneral);
    background-color: var(--color-4);
}

#idAficionesTexto {
    @include estiloLetra;
    position: absolute;
    top: 0%;
    left: 4%;
}

#idContenedorA {
    @include estiloLetra;
    background-color: var(--color-3);

    position: relative;
    left: 10%;
    height: map-get($tamanio-vertical, datosAficion);
    width: map-get($tamanio-horizontal, datosAficion);
    text-align: center;
    padding-top: 3%;
}

.imgAficiones {
    position: relative;
    left: 75%;
    top: -85%;
    height: 100%;
    width: 40%; 
}