footer {
    background-color: var(--color-5);
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: auto;
}

//Redes sociales
$redes-sociales: gmail instagram github linkedin discord;

//each para crear los iconos de redes sociales
.redes-sociales {
    @each $red in $redes-sociales {
        .icono-#{$red} { 
            background-image: url("../imagenes/#{$red}.png");
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block;
        }
    }
}