
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    background-color: var(--color-1);
}

//llamada a la agrupacion border-radius-buttons
@mixin border-radius-buttons($border-radius-but){
    border-radius: $border-radius-but;
}