// Función para determinar la visibilidad de la imagen
@function mostrarImagen() {
  //if con la imagen de sitio-en-construccion
  @if $debug == false {
    @return none;
  } @else {
    @return inline;
  }
}

// Estilos para el elemento p.en-construccion
p.en-construccion {
  text-align: center;

  img {
    width: 50%;
    display: mostrarImagen();
  }
}

// Estilos comunes para las secciones "datos" y "formacion"
.datos,
.formacion {
  background-color: var(--color-3);
  float: left;
  width: 40%;
  margin: 10px;
  margin-left: 132px;
  padding: 20px;
}

// Estilos para la sección de aficiones
.aficiones {
  display: block;
  float: left;
  width: 100%;
  height: 600px;
  text-align: center;
  background-color: var(--color-5);

  // Estilos para el título h2 dentro de la sección de aficiones
  h2 {
    margin-top: 10px;
  }

  // Estilos para la imagenes dentro de la sección de aficiones
  img {
    display: inline-block;
    width: 100px;
    margin-left: 8%;
    margin-right: 8%;
  }
}
