@charset "UTF-8";
/*PONER SIEMPRE*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

/*BODY*/
body {
  background-color: black;
  height: auto;
  position: relative;
  width: 60%;
  left: 20%;
  right: 20%;
  font-family: "Courier New", Courier, monospace;
}

/*FUNCIÓN espacio vertical*/
/**** LISTAS modo claro/noche ****/
/*variables colores claros*/
/*array de colores*/
/**** INTERPOLACIÓN ****/
:root .tema-claro {
  --color-1: #FFFFFF;
  --color-2: #F5F3EE;
  --color-3: #604342;
  --color-4: #E5594F;
  --color-5: #000000;
  --color-6: #F0F8FF;
}
:root .tema-oscuro {
  --color-1: #19191a;
  --color-2: #373739;
  --color-3: #a29765;
  --color-4: #c9b977;
  --color-5: #e8e6cf;
  --color-6: #473b3b;
}

/**** MAPA ****/
/**** DEBUG variable ****/
/**** INTERPOLACIÓN variable ****/
/**** MIXIN ****/
/**** PARTIALS ****/
/**** HEADER ****/
header {
  background-color: var(--color-2);
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  position: sticky;
  top: 0;
  height: auto;
  width: auto;
  z-index: 10;
  /**Menú**/
}
header .contenedorLogo {
  display: inline-block;
  text-align: center;
  width: 208px;
  height: 30px;
  vertical-align: bottom;
  padding-top: 5px;
}
header .contenedorLogo .imagenLogo {
  max-width: 100%; /*ajusta el ancho máximo de la imagen */
  height: auto; /* y mantiene la relación de aspecto */
}
header nav {
  vertical-align: bottom;
  display: inline-block;
  width: 79%;
  text-align: right;
}
header nav ul a {
  color: var(--color-5);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
header nav ul a:hover {
  color: var(--color-4);
}
header nav li {
  display: inline;
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  header nav li {
    display: none;
  }
}

/*** PRESENTACIÓN ***/
.presentacionContenedor {
  position: relative;
  background-color: var(--color-1);
  text-align: center;
  min-height: 570px;
  overflow: hidden;
  padding-top: 5%;
  width: 100%;
}
.presentacionContenedor article {
  position: relative;
  display: inline-block;
  height: auto;
  width: 400px;
  margin: 2%;
}
.presentacionContenedor article .miFoto {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.presentacionContenedor article h1 {
  font-family: "Courier New";
  font-size: 80px;
  line-height: 100%;
  text-align: left;
  color: var(--color-5);
}
.presentacionContenedor article h2 {
  font-family: "Courier New";
  font-size: 50px;
  text-align: left;
  color: grey;
}
.presentacionContenedor article .textoPresentacion {
  padding-top: 4%;
  padding-bottom: 10px;
  font-family: "Courier New";
  font-size: 20px;
  text-align: left;
  color: var(--color-3);
}
.presentacionContenedor article button {
  position: relative;
  width: 80%;
  height: 40px;
  font-size: 20px;
  right: 10%;
  border: none;
  border-radius: 20px;
  font-weight: 800;
  color: var(--color-1);
  background-color: var(--color-4);
  cursor: pointer;
}
.presentacionContenedor article button:hover {
  color: var(--color-4);
  background-color: var(--color-2);
  border: 3px solid var(--color-4);
}

/*** FORMACIÓN ***/
.formacionContenedor {
  position: relative;
  background-color: var(--color-2);
  text-align: center;
  min-height: 650px;
  overflow: hidden;
  padding: 5%;
}
.formacionContenedor article {
  position: relative;
  float: left;
  top: 10%;
  height: 460px;
  width: 300px;
  margin: 2%;
  background-color: var(--color-6);
  padding: 30px;
  border-radius: 30px;
}
.formacionContenedor article h4 {
  padding-top: 10px;
  font-family: "Courier New";
  font-size: 20px;
  color: var(--color-5);
}
.formacionContenedor article .textoFormacion {
  padding-top: 10px;
  font-family: "Courier New";
  font-size: 16px;
  text-align: left;
  color: var(--color-5);
}

/**** AFICIONES ****/
.aficionesContenedor {
  background-color: var(--color-1);
  text-align: center;
  min-height: 580px;
  padding-top: 5%;
  padding-bottom: 10px;
  padding-left: 14%;
  padding-right: 14%;
  width: 100%;
  overflow: hidden;
}
.aficionesContenedor article {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 4%;
  text-align: center;
}
.aficionesContenedor article img {
  width: 100px;
}
.aficionesContenedor p {
  padding-top: 5px;
  font-weight: bold;
  font-family: "Courier New";
  font-size: 18px;
  text-align: center;
  color: var(--color-5);
}

h3 {
  position: relative;
  top: 5%;
  font-family: "Courier New";
  font-size: 30px;
  color: var(--color-3);
}

/**** DEBUG ****/
.imagenDebug {
  display: none;
}

.imagenDebug img {
  width: 100%;
}

main {
  display: inline;
}

/**** FOOTER ****/
footer {
  width: 60%;
  position: fixed;
  bottom: 0;
  display: block;
  padding-bottom: 5px;
  background-color: var(--color-4);
  text-align: center;
}
footer a {
  text-decoration: none;
}

/**** EACH ****/
footer .icono-whatsapp {
  width: 30px;
  padding-top: 10px;
  padding-right: 5px;
}

footer .icono-linkedin {
  width: 30px;
  padding-top: 10px;
  padding-right: 5px;
}

footer .icono-github {
  width: 30px;
  padding-top: 10px;
  padding-right: 5px;
}

footer .icono-email {
  width: 30px;
  padding-top: 10px;
  padding-right: 5px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-5 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  vertical-align: bottom;
}

.slider-5 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 25px;
  background-color: var(--color-6);
  border: 1px solid #aeaeab;
}

.slider-5:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0eb";
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 20px;
  transition: 0.3s ease all;
  color: #c9b977;
}

input:checked + .slider-5:before {
  transform: translate(20px) rotate(360deg);
  content: "\f186";
  color: #c9b977;
}

input:checked + .slider-5 {
  background-color: var(--color-6);
  left: 0px;
}

/**** EACH ****/
/**** Anidamientos ****/

/*# sourceMappingURL=estilos.css.map */
