/**** HEADER ****/
header {
    background-color: var(--color-2);
    padding-top: 15px;
    //padding-bottom: 10px;
    padding-bottom: calcular-padding-bottom(5px, 2);
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    top: 0;
    height: auto;
    width: auto;
    z-index: 10;

    .contenedorLogo {
        display: inline-block;
        text-align: center;
        width: 208px;
        height: 30px;
        vertical-align: bottom;
        padding-top: 5px;
        

        .imagenLogo {
            max-width: 100%; /*ajusta el ancho máximo de la imagen */
            height: auto; /* y mantiene la relación de aspecto */
            
        }
    }

    /**Menú**/
    nav {
        vertical-align: bottom;
        display: inline-block;
        width: 79%;
        text-align: right;

        ul a {
            color: var(--color-5);
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;

            &:hover { // &:hover = nav:hover, 
                color: var(--color-4);
            }
        }

        li {
            display: inline; // quita formato lista 
            padding-left: 5%;
            @include ocultar-en-pantalla-pequena; // mixin para ocultar opciones menu        
        }

    }
}


  