
//Tonos de colores

$color-1-claro: #D9B7D7;
$color-2-claro: #dc8fdd;
$color-3-claro: #392D3B;
$color-4-claro: #B784B8;
$color-5-claro: #C234BB;


$colores-oscuros : (
  #313130,
  #B0B0AC,
  aliceblue,
  #5E5E5C,
  #3F4247
  );

:root {
  .tema-claro {
    --color-1: #{$color-1-claro};
    --color-2: #{$color-2-claro};
    --color-3: #{$color-3-claro};
    --color-4: #{$color-4-claro};
    --color-5: #{$color-5-claro};
  }

  .tema-oscuro {
    --color-1: #{nth($colores-oscuros,1)};
    --color-2: #{nth($colores-oscuros,2)};
    --color-3: #{nth($colores-oscuros,3)};
    --color-4: #{nth($colores-oscuros,4)};
    --color-5: #{nth($colores-oscuros,5)};
  }
}

body {
  background-color: var(--color-1);
  width: 100%;
  height: auto;
  padding-top: 5%;
}

//declaración mapa
$tamanio-iconos : (
    "pequenio": 5%,
    "medio": 50%,
    "grande": 100%
);

@import "./partials/_boton.scss";
@import "./partials/contenido";
@import "./partials/footer";
@import "./partials/menu";


